// Farger
$background: #f5f4f6;
$elementcolor1: #DCDCDC;
$elementcolor2: #FAC2C2;
$elementcolor3: #CDF8E0;
$elementcolor4: #F3CDF8;
$elementcolor5: #F5F4F6;
$elementcolor6: #B5C7E2;
$elementcolor7: #F5DEC4;
$elementcolor8: #F8E3CD;