// Farger
$background: #f5f4f6;
$elementcolor1: #DCDCDC;
$elementcolor2: #A82225;
$elementcolor3: #FAC2C2;
$elementcolor4: #CDF8E0;
$elementcolor5: #F3CDF8;
$elementcolor6: #F5F4F6;
$elementcolor7: #B5C7E2;
$elementcolor8: #F5DEC4;
$elementcolor9: #F8E3CD;