footer {
    width: 100vw;
    height: 50vh;
    background: $orange_light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: $font;

    .footer-copyright {
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .icons {
        margin-bottom: 1rem;
        .emails, .linkedin, .github {
            cursor: pointer;
            width: 2rem;
            margin: 0.5rem;
            transition: 0.2s all;
            &:hover {
                opacity: 0.6;
            }
        }   
    }
}