
.footer{
    width: 100vw;
    height: 50vh;
    background-color: $lilla;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: $font
  
}