.title .header{
    grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
}

.emails .linkedin .github{
    width: 5rem;
    margin-right: .5rem;
    margin-top: 3rem;
    margin-bottom: 6.5rem;
}
