#navbar {
  display: grid;
  padding-top: 32px;
  padding-bottom: 32px;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  justify-items: center;
  font-family: $font;
  font-size: 1rem;

  .logo {
    color: black;
    width: 120px;
    transition: 0.2s all;
    &:hover {
      transform: scale(0.95, 0.95);
    }
  }

  .main-nav {
    list-style-type: none;
    padding: 12px;
    border: 1px solid black;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;


    li {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      transition: 0.2s all;

      &:hover {
        background: linear-gradient(to top, $orange 60%, transparent 60%) no-repeat;
      }
    }
  }

  .nav-links {
    text-decoration: none;
    color: black;
  }

}