#navbar {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
  font-family: $font;
}

#navbar ul li {
  list-style-type: none;
}

.nav-links {
  text-decoration: none;
}