.project-page {

    // TODO: rydd opp
    max-width: 160rem;
    display: flex;
    align-items: end;
    flex-flow: column;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 6rem;

    .project-title {
        font-size: 3rem;
        font-weight: bolder;
        letter-spacing: .5rem;
        line-height: 1.3;
    }

    .project-metadata-container {
        padding: 1rem;
        font-size: 1rem;
        margin-left: 1rem;
        margin-bottom: 3rem;
        .project-category {
            color: rgb(131, 131, 131);
        }
    }

    .lenker {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        width: 100%;
    }

    @media screen and (min-width: $desktop) {
        .lenker {
            width: 50%;
        }
    }

    .question {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        background: linear-gradient(to top, $green 60%, transparent 60%) no-repeat;
    }

    .description {
        line-height: 1.3;
    }

    .navigation-buttons {
        margin: 0 auto;
    }

    /* Slider med prosjektbilder */
    .slider {
        margin: 60px auto;
        width: 80%;

        .img-box img {
            width: 100%;
        }
    }
}