.kontakt {
  justify-self: center; }

.footer {
  width: 100vw;
  height: 50vh;
  background-color: #B5C7E2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", serif; }

#navbar {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
  font-family: "Montserrat", serif; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", serif; }

.container {
  position: relative;
  width: 100%;
  display: flex; }

.container section {
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100vh; }

.horisontal_slider {
  display: block;
  width: 100%;
  overflow-x: scroll;
  margin-top: 150px;
  padding: 20px;
  box-sizing: border-box; }

.slider_container {
  display: block;
  white-space: nowrap; }

.item {
  display: inline-block;
  margin-right: 10px; }

.item img {
  width: 400px; }

.emails, .linkedin, .github {
  cursor: pointer;
  width: 2rem;
  margin-right: .5rem;
  margin-top: 3rem;
  margin-bottom: 6.5rem; }
