.kontakt {
  justify-self: center; }

.footer {
  width: 100vw;
  height: 50vh;
  background-color: #F5F4F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", serif; }
  .footer .footer-text {
    margin-top: 3rem;
    margin-bottom: -10rem;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; }
  .footer .icons {
    width: 5rem;
    margin-right: .5rem; }

#navbar {
  display: grid;
  padding-top: 50px;
  padding-bottom: 50px;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;
  font-family: "Montserrat", serif;
  font-size: 1.5rem; }
  #navbar .logo {
    color: black;
    grid-column-start: 2;
    width: 120px; }
  #navbar .main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-column-start: 5;
    margin-left: auto;
    margin-right: 32px; }
    #navbar .main-nav li {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px; }
  #navbar .nav-links {
    text-decoration: none;
    color: black; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", serif;
  background: #f5f4f6; }
  body a {
    text-decoration: none; }

#top-info {
  text-align: center; }

.horisontal_slider {
  display: block;
  width: 100%;
  overflow-x: scroll;
  margin-top: 150px;
  padding: 20px;
  box-sizing: border-box; }

.slider_container {
  display: block;
  white-space: nowrap; }

.portfolio-preview {
  display: inline-grid;
  margin-right: 10px;
  max-height: 600px;
  width: 400px; }
  .portfolio-preview .portfolio-preview-title {
    font-size: 20pt;
    color: black; }
  .portfolio-preview .portfolio-preview-image {
    border-radius: 5px;
    width: 100%; }
  .portfolio-preview .title-pink {
    background: linear-gradient(to top, #FAC2C2 60%, transparent 60%) no-repeat; }
  .portfolio-preview .title-green {
    background: linear-gradient(to top, #CDF8E0 60%, transparent 60%) no-repeat; }
  .portfolio-preview .title-red {
    background: linear-gradient(to top, #DCDCDC 60%, transparent 60%) no-repeat; }
  .portfolio-preview .title-blue {
    background: linear-gradient(to top, #B5C7E2 60%, transparent 60%) no-repeat; }
  .portfolio-preview .title-orange {
    background: linear-gradient(to top, #F5DEC4 60%, transparent 60%) no-repeat; }

.text {
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  line-height: 1.2;
  height: 100vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.anna {
  width: 400px;
  align-content: center; }

.emails, .linkedin, .github {
  cursor: pointer;
  width: 2rem;
  margin-right: .10rem;
  margin-top: 3rem;
  margin-bottom: 6.5rem; }
