@import 'typography.scss';
@import 'colors.scss';
@import 'ommeg.scss';
@import 'footer.scss';
@import 'navbar.scss';
@import 'project.scss';

// Layout
$padding: 1em;
$border-radius: 2em;

// Breakpoint for mobil
$mobile: 418px;
$desktop: 1024px;

* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

body {
	font-family: $font;
	background: $background;
	a {
		text-decoration: none;
	}

}

#top-info {
	text-align: center;
}

.horisontal_slider {
	display: block;
	width: 100%;
	overflow-x: scroll;
	margin-top: 150px;
	padding: 20px;
	box-sizing: border-box;
}
.slider_container {
	display: block;
	white-space: nowrap;
}

.portfolio-preview {
	display: inline-grid;
	margin-right: 10px;
	max-height: 600px;
	width: 400px;

	.portfolio-preview-title {
		font-size: 20pt;
		color: black;
	}

	.portfolio-preview-image {
		border-radius: 5px;
		width: 100%;
	}

	.title-pink {
		background: linear-gradient(to top, $pink 60%, transparent 60%) no-repeat;
	}

	.title-green {
		background: linear-gradient(to top, $green 60%, transparent 60%) no-repeat;
	}

	.title-red {
		background: linear-gradient(to top, $red 60%, transparent 60%) no-repeat;
	}

	.title-blue {
		background: linear-gradient(to top, $blue 60%, transparent 60%) no-repeat;
	}

	.title-orange {
		background: linear-gradient(to top, $orange 60%, transparent 60%) no-repeat;
	}


}

.text {
	height:100vh;
    width:50vw;
    display:flex;
    justify-content: center;
    align-items:center;
	padding-left: 50px;
	line-height: 1.2;
	
}


.anna {
	width: 400px;
    align-content: center;
}