// Farger
$background: #17171F;
$elementcolor1: #39BCBB;
$elementcolor2: #A82225;

// Layout
$padding: 1em;
$border-radius: 2em;

// Breakpoint for mobil
$mobile: 418px;
$desktop: 1024px;

// Typografi
$font: 'Montserrat';
$font-size: 1em;
$paragraph-width: 35vw;
$line-height: 1.2em;

* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

.container{
	position: relative;
	width: 100%;
	display: flex;
}

.container section{
	min-width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-self: center;
	height: 100vh;
}

.horisontal_slider{
	display: block;
	width: 100%;
	overflow-x: scroll;
	margin-top: 150px;
	padding: 20px;
	box-sizing: border-box;
}
.slider_container{
	display: block;
	white-space: nowrap;
}
.item{
	display: inline-block;
	margin-right: 10px;
}
.item img{
	width: 400px;
}